h1{
    color: white;
    font-size: 1.8em;
    margin-bottom: 1rem;
}
#navbar{
    flex-direction: column;
    height: auto;
    padding-bottom: 0.5rem;
    padding-top: 0.3rem;
    justify-content: center;

}